<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470397563796-9r5hpr7m8krnji4qlo2gjm5uosnnfned.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470397563796-9r5hpr7m8krnji4qlo2gjm5uosnnfned</string>
	<key>API_KEY</key>
	<string>AIzaSyAiSsCqWusM8sQY1rWaHQDuaziIJ9PLD0U</string>
	<key>GCM_SENDER_ID</key>
	<string>470397563796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LambdaSchool.JournalCoreData</string>
	<key>PROJECT_ID</key>
	<string>journaldebug-1e697</string>
	<key>STORAGE_BUCKET</key>
	<string>journaldebug-1e697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470397563796:ios:dbb5cac6c12434b2b95581</string>
	<key>DATABASE_URL</key>
	<string>https://journaldebug-1e697.firebaseio.com</string>
</dict>
</plist>