<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956123348899-hi4oqco7eru2ehrasr5mp56g4r8o9t8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956123348899-hi4oqco7eru2ehrasr5mp56g4r8o9t8i</string>
	<key>API_KEY</key>
	<string>AIzaSyBs74j1y-e4O7hdQBdyYbgBx-UrDS0va18</string>
	<key>GCM_SENDER_ID</key>
	<string>956123348899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LambdaSchool.JournalCoreData</string>
	<key>PROJECT_ID</key>
	<string>journal-74084</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-74084.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956123348899:ios:07407ea079f96861142416</string>
	<key>DATABASE_URL</key>
	<string>https://journal-74084.firebaseio.com</string>
</dict>
</plist>